/** Global Font Styles **/
.no-left-padding-column {
  padding: 0px 20px 0px 0px; }

h1, h2, h3, h4, h5 {
  font-family: 'Hind'; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  line-height: 26px; }

.subheader {
  font-family: 'Lato', sans-serif;
  font-size: 24px; }

.btn {
  border-radius: 2px; }

.btn-primary {
  background-color: #1cbe68;
  font-family: 'Lato';
  text-transform: uppercase;
  border: none; }

.btn-primary:hover {
  background-color: #24DB7A;
  -webkit-transition: 0.2s;
          transition: 0.2s; }

/** Header Styles **/
.navbar {
  background-color: #f0f0f0;
  border-bottom: 1px solid #dedede;
  width: 100%; }

.header-nav-left {
  display: inline-block;
  float: left; }

.header-nav-right {
  display: inline-block;
  float: right; }

.header-logo {
  font-size: 24px;
  color: #1cbe68;
  margin-bottom: 18px;
  font-family: Roboto Slab; }

.header-links {
  font-family: 'Hind', sans-serif;
  color: #505050; }

/** Sidebar Styles **/
.sidebar-box {
  border: 1px solid #dedede;
  padding: 10px 20px 10px 20px;
  margin-bottom: 15px; }

/** Global Styles **/
p {
  color: #606060; }

.add-new-project, .add-new-expense {
  display: inline-block;
  border: 1px solid #dedede;
  margin: 0px 25px 15px 0px;
  padding: 0px 0px 15px 0px; }

/** Login Form Styles **/
.login-form {
  max-width: 350px;
  padding: 25px;
  margin: 0 auto;
  margin-top: 35px;
  border: 1px solid #dedede;
  border-radius: 5px; }

.login-section {
  margin-top: 25px; }

.login-button {
  width: 100%;
  padding: 10px 0 10px 0;
  margin: 15px 0 15px 0;
  font-size: 18px; }

/** Landing Page Styles **/
.hero-section {
  background: url("http://i58.tinypic.com/riu83a.jpg") no-repeat;
  background-size: cover;
  padding: 150px 0 150px 0;
  margin-top: -20px; }

.hero-text {
  max-width: 650px;
  margin: 0 auto;
  text-align: center; }

h1.hero-text {
  color: #ffffff;
  font-size: 42px; }

p.hero-text {
  color: #ffffff;
  font-size: 28px; }

.hero-button {
  margin: 0 auto;
  max-width: 250px; }
  .hero-button .login-button {
    margin-top: 35px;
    width: 100%;
    padding: 10px 25px 10px 25px;
    text-align: center;
    font-size: 18px; }

.explanation-section h2 {
  text-align: center; }

.explanation-section p {
  text-align: center; }

.explanation-section .icon-1, .explanation-section .icon-2, .explanation-section .icon-3 {
  margin: 35px 0 35px 0;
  padding: 0 28px 0 28px; }

/** Overview Page Styles **/
.income-list-header {
  font-size: 16px; }

.income-list-data {
  font-size: 16px; }

.income-list-hr {
  margin: 0px; }

.income-list-header.col-md-3 {
  padding-left: 0px; }

.edit-btn {
  background: #ffa500;
  color: #ffffff;
  margin: 25px 8px 0 0; }
  .edit-btn :hover {
    background: #D83C3C; }

.delete-btn {
  background: #ff4c4c;
  color: #ffffff;
  margin: 25px 8px 0 0; }
  .delete-btn :hover {
    background: #D83C3C; }

/** Register Styles **/
.register-section {
  max-width: 450px;
  padding: 25px;
  margin: 0 auto;
  margin-top: 35px;
  border: 1px solid #dedede;
  border-radius: 5px; }

.register-button {
  width: 100%;
  padding: 10px 0 10px 0;
  margin: 15px 0 15px 0;
  font-size: 18px; }

.add-new-project {
  padding: 15px;
  min-width: 45%; }

.add-new-expense {
  padding: 15px;
  min-width: 45%; }