
<div class="overview-content">
  <div class="container no-left-padding-column">
    <div class="col-md-8 left-side">
      <h1>Financial Summary</h1>
      <hr/>
      <div class="add-new-main">
        <div class="col-md-4 add-new-project">
          <h3>Add Income</h3>
          <form name="newIncomeForm" ng-submit="main.saveIncome()">
            <div class="form-group">
              <label class="control-label">Name</label>
              <input type="text" ng-model="main.income.name" class="form-control"/>
            </div>
            <div class="form-group">
              <label class="control-label">Amount</label>
              <input type="text" ng-model="main.income.amount" class="form-control"/>
            </div>
            <div class="form-group">
              <label class="control-label">Date</label>
              <input type="date" ng-model="main.income.date" class="form-control"/>
            </div>
            <div class="form-group">
              <label class="control-label">Notes</label>
              <input type="text" ng-model="main.income.notes" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
        <div class="col-md-4 add-new-expense">
          <h3>Add Expense</h3>
          <form name="newExpenseForm" ng-submit="main.saveExpense()">
            <div class="form-group">
              <label class="control-label">Name</label>
              <input type="text" ng-model="main.expense.name" class="form-control"/>
            </div>
            <div class="form-group">
              <label class="control-label">Amount</label>
              <input type="text" ng-model="main.expense.amount" class="form-control"/>
            </div>
            <div class="form-group">
              <label class="control-label">Date</label>
              <input type="date" ng-model="main.expense.date" class="form-control"/>
            </div>
            <div class="form-group">
              <label class="control-label">Notes</label>
              <input type="text" ng-model="main.expense.notes" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 right-side">
      <div class="income-total sidebar-box">
        <h2>Income</h2>
        <hr/>
        <p>{{income.total}}</p>
      </div>
      <div class="expense-total sidebar-box">
        <h2>Expenses</h2>
        <hr/>
        <p>{{expense.total}}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="income-list">
      <h3>Income List</h3>
    </div>
    <div ng-repeat="incomeItem in incomeList | orderBy:'date'" class="individual-income-item col-md-12 no-left-padding-column">
      <hr class="income-list-hr"/>
      <h3 class="income-list-header col-md-3">Project
        <p class="income-list-data">{{incomeItem.name}}</p>
      </h3>
      <h3 class="income-list-header col-md-2">Amount
        <p class="income-list-data">{{incomeItem.amount}}</p>
      </h3>
      <h3 class="income-list-header col-md-2">Date
        <p class="income-list-data">{{incomeItem.date | date: "yyyy-MM-dd"}}</p>
      </h3>
      <h3 class="income-list-header col-md-3">Notes
        <p class="income-list-data">{{incomeItem.notes}}</p>
      </h3>
      <div class="button-section col-md-2"><a ng-click="main.edit()" class="btn btn-primary edit-btn"><i class="fa fa-pencil-square-o"></i></a><a ng-click="main.destroy()" class="btn btn-primary delete-btn"><i class="fa fa-ban"></i></a></div>
    </div>
    <div class="expense-list">
      <h3>Expense List</h3>
    </div>
    <div ng-repeat="expenseItem in expenseList | orderBy:'date'" class="individual-income-item col-md-12 no-left-padding-column">
      <hr class="income-list-hr"/>
      <h3 class="income-list-header col-md-3">Project
        <p class="income-list-data">{{expenseItem.name}}</p>
      </h3>
      <h3 class="income-list-header col-md-2">Amount
        <p class="income-list-data">{{expenseItem.amount}}</p>
      </h3>
      <h3 class="income-list-header col-md-2">Date
        <p class="income-list-data">{{expenseItem.date | date: "yyyy-MM-dd"}}</p>
      </h3>
      <h3 class="income-list-header col-md-3">Notes
        <p class="income-list-data">{{expenseItem.notes}}</p>
      </h3>
      <div class="button-section col-md-2"><a ng-click="second.edit()" class="btn btn-primary edit-btn"><i class="fa fa-pencil-square-o"></i></a><a ng-click="second.destroy()" class="btn btn-primary delete-btn"><i class="fa fa-ban"></i></a></div>
    </div>
  </div>
</div>