
<div class="overview-content"></div>
<div class="container no-left-padding-column">
  <div class="col-md-12">
    <h2>Financial Summary</h2>
    <div class="col-md-8 left-side no-left-padding-column">
      <div class="add-new-main">
        <tabset>
          <tab heading="Add Income">
            <form ng-submit="main.saveIncome()" class="newIncomeForm">
              <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" ng-model="main.income.name" class="form-control"/>
              </div>
              <div class="form-group">
                <label class="control-label">Amount</label>
                <input type="text" ng-model="main.income.amount" placeholder="$" class="form-control"/>
              </div>
              <div class="form-group">
                <label class="control-label">Date</label>
                <input type="date" ng-model="main.income.date" class="form-control"/>
              </div>
              <div class="form-group">
                <label class="control-label">Notes</label>
                <input type="text" ng-model="main.income.notes" class="form-control"/>
              </div>
              <div class="add-new-btn-section">
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
          </tab>
          <tab heading="Add Expense">
            <form ng-submit="main.saveExpense()" class="newExpenseForm">
              <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" ng-model="main.expense.name" class="form-control"/>
              </div>
              <div class="form-group">
                <label class="control-label">Amount</label>
                <input type="text" ng-model="main.expense.amount" placeholder="$" class="form-control"/>
              </div>
              <div class="form-group">
                <label class="control-label">Date</label>
                <input type="date" ng-model="main.expense.date" class="form-control"/>
              </div>
              <div class="form-group">
                <label class="control-label">Notes</label>
                <input type="text" ng-model="main.expense.notes" class="form-control"/>
              </div>
              <div class="add-new-btn-section">
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="col-md-4 right-side">
      <div class="totals sidebar-green"></div>
      <div class="totals sidebar-box">
        <h2 class="sidebar-header">Totals</h2>
        <hr class="sidebar-hr"/>
        <div class="income-total">
          <h3>Income
            <p>{{totalIncome | currency}}</p>
          </h3>
        </div>
        <div class="expense-total">
          <h3>Expenses
            <p>{{totalExpense | currency}}</p>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="income-list">
      <div class="header-bar col-md-12 no-left-padding-column">
        <h3 class="list-header">Income</h3>
      </div>
      <div class="category-header col-md-12 no-left-padding-column">
        <h3 class="income-list-header col-md-3">Project</h3>
        <h3 class="income-list-header col-md-2">Amount</h3>
        <h3 class="income-list-header col-md-2">Date</h3>
        <h3 class="income-list-header col-md-3">Notes</h3>
      </div>
      <div ng-repeat="incomeItem in incomeList | orderBy:'date'" class="individual-income-item col-md-12 no-left-padding-column">
        <hr class="income-list-hr"/>
        <p class="income-list-data col-md-3">{{incomeItem.name}}</p>
        <p class="income-list-data col-md-2">{{incomeItem.amount | currency}}</p>
        <p class="income-list-data col-md-2">{{incomeItem.date | date:'fullDate'}}</p>
        <p class="income-list-data col-md-3">{{incomeItem.notes}}</p>
        <div class="button-section col-md-2"><a ng-click="main.edit()" class="btn btn-primary edit-btn"><i class="fa fa-pencil-square-o"></i></a><a ng-click="main.deleteIncome(incomeItem)" class="btn btn-primary delete-btn"><i class="fa fa-ban"></i></a></div>
      </div>
    </div>
    <div class="expense-list">
      <div class="header-bar col-md-12 no-left-padding-column">
        <h3 class="list-header">Expenses</h3>
      </div>
      <div class="category-header col-md-12 no-left-padding-column">
        <h3 class="income-list-header col-md-3">Project</h3>
        <h3 class="income-list-header col-md-2">Amount</h3>
        <h3 class="income-list-header col-md-2">Date</h3>
        <h3 class="income-list-header col-md-3">Notes</h3>
      </div>
      <div ng-repeat="expenseItem in expenseList | orderBy:'date'" class="individual-income-item col-md-12 no-left-padding-column">
        <hr class="income-list-hr"/>
        <p class="income-list-data col-md-3">{{expenseItem.name}}</p>
        <p class="income-list-data col-md-2">{{expenseItem.amount | currency}}</p>
        <p class="income-list-data col-md-2">{{expenseItem.date | date:'fullDate'}}</p>
        <p class="income-list-data col-md-3">{{expenseItem.notes}}</p>
        <div class="button-section col-md-2"><a ng-click="main.edit()" class="btn btn-primary edit-btn"><i class="fa fa-pencil-square-o"></i></a><a ng-click="main.deleteExpense(expenseItem)" class="btn btn-primary delete-btn"><i class="fa fa-ban"></i></a></div>
      </div>
    </div>
  </div>
</div>