.hero-section
  .container
    .hero-text
      h1.hero-text Welcome to Bankroll
      p.hero-text(class="subheader") Record and store your freelance income and expenses
    .hero-button
      button.btn.btn-primary.login-button(ng-click='goNext("/register")') Get Started Now
.bottom-section
  .container
    .explanation-section
      .icon-1(class="col-md-4")
        h2 Track Your Income
        p Year end totals made easy. Record your income right as it happens and keep track of the project details and date.
      .icon-2(class="col-md-4")
        h2 Record Your Expenses
        p Business expenses are a way of life. Bankroll makes it easy to record them and save you at tax time.
      .icon-3(class="col-md-4")
        h2 Live a Happy Life
        p Say goodbye to piles or receipts and confusing notes. Track your income easily and start living your life.
    .blank-section(class="col-md-12")
