.hero-section
  .container
    .hero-text
      h1.hero-text Welcome to Bankroll
      p.hero-text(class="subheader") The world's premiere non-functioning finance app
    .hero-button
      button.btn.btn-primary.login-button(onclick="/#/register") Get Started Now
.bottom-section
  .container
    .explanation-section
      .icon-1(class="col-md-4")
        h2 Track Your Income
        p I did not watch my buddies die face down in the mud so that this fucking strumpet. Magna ullamcorper in aliquam sagittis. She's gotta feed the monkey, I mean —hasn't that ever occurred to you.
      .icon-2(class="col-md-4")
        h2 Record Expenses
        p I did not watch my buddies die face down in the mud so that this fucking strumpet. Magna ullamcorper in aliquam sagittis. She's gotta feed the monkey, I mean —hasn't that ever occurred to you.
      .icon-3(class="col-md-4")
        h2 Live a Happy Life
        p I did not watch my buddies die face down in the mud so that this fucking strumpet. Magna ullamcorper in aliquam sagittis. She's gotta feed the monkey, I mean —hasn't that ever occurred to you.
    .blank-section(class="col-md-12")
      hr
