.overview-content
.container.no-left-padding-column
  .col-md-12
    h2 Financial Summary
    .col-md-8.left-side.no-left-padding-column
      .add-new-main
        tabset
          tab(heading="Add Income")
            form(class="newIncomeForm" ng-submit="main.saveIncome()")
              .form-group
                label.control-label Name
                input.form-control(type="text" ng-model="main.income.name")
              .form-group
                label.control-label Amount
                input.form-control(type="text" ng-model="main.income.amount" placeholder="$")
              .form-group
                label.control-label Date
                input.form-control(type="date" ng-model="main.income.date")
              .form-group
                label.control-label Notes
                input.form-control(type="text" ng-model="main.income.notes")
              .add-new-btn-section
                button(class="btn btn-primary" type="submit") Add
          tab(heading="Add Expense")
            form(class="newExpenseForm" ng-submit="main.saveExpense()")
              .form-group
                label.control-label Name
                input.form-control(type="text" ng-model="main.expense.name")
              .form-group
                label.control-label Amount
                input.form-control(type="text" ng-model="main.expense.amount" placeholder="$")
              .form-group
                label.control-label Date
                input.form-control(type="date" ng-model="main.expense.date")
              .form-group
                label.control-label Notes
                input.form-control(type="text" ng-model="main.expense.notes")
              .add-new-btn-section
                button(class="btn btn-primary" type="submit") Add

    .col-md-4.right-side
      .totals.sidebar-green
      .totals.sidebar-box
        h2.sidebar-header Totals
        hr.sidebar-hr
        .income-total
          h3 Income
            p {{totalIncome | currency}}
        .expense-total
          h3 Expenses
            p {{totalExpense | currency}}

  .container
    .income-list
      .header-bar.col-md-12.no-left-padding-column
        h3.list-header Income
      .category-header.col-md-12.no-left-padding-column
        h3.income-list-header.col-md-3 Project
        h3.income-list-header.col-md-2 Amount
        h3.income-list-header.col-md-2 Date
        h3.income-list-header.col-md-3 Notes
      .individual-income-item.col-md-12.no-left-padding-column(ng-repeat="incomeItem in incomeList | orderBy:'date'")
        hr.income-list-hr
        p.income-list-data.col-md-3 {{incomeItem.name}}
        p.income-list-data.col-md-2 {{incomeItem.amount | currency}}
        p.income-list-data.col-md-2 {{incomeItem.date | date:'fullDate'}}
        p.income-list-data.col-md-3 {{incomeItem.notes}}
        .button-section.col-md-2
          a.btn.btn-primary.edit-btn(ng-click="main.edit()") <i class="fa fa-pencil-square-o"></i>
          a.btn.btn-primary.delete-btn(ng-click="main.deleteIncome(incomeItem)") <i class="fa fa-ban"></i>

      //- p(ng-show="!incomeList.length") No items found

    .expense-list
      .header-bar.col-md-12.no-left-padding-column
        h3.list-header Expenses
      .category-header.col-md-12.no-left-padding-column
        h3.income-list-header.col-md-3 Project
        h3.income-list-header.col-md-2 Amount
        h3.income-list-header.col-md-2 Date
        h3.income-list-header.col-md-3 Notes
      .individual-income-item.col-md-12.no-left-padding-column(ng-repeat="expenseItem in expenseList | orderBy:'date'")
        //- div(ng-if="expenseItem.length === 0") No items found
        hr.income-list-hr
        p.income-list-data.col-md-3 {{expenseItem.name}}
        p.income-list-data.col-md-2 {{expenseItem.amount | currency}}
        p.income-list-data.col-md-2 {{expenseItem.date | date:'fullDate'}}
        p.income-list-data.col-md-3 {{expenseItem.notes}}
        .button-section.col-md-2
          a.btn.btn-primary.edit-btn(ng-click="main.edit()") <i class="fa fa-pencil-square-o"></i>
          a.btn.btn-primary.delete-btn(ng-click="main.deleteExpense(expenseItem)") <i class="fa fa-ban"></i>

