.overview-content
  .container.no-left-padding-column
    .col-md-8.left-side
      h1 Financial Summary
      hr
      .add-new-main
        .col-md-4.add-new-project
          h3 Add Income
          form(name="newIncomeForm" ng-submit="main.saveIncome()")
            .form-group
              label.control-label Name
              input.form-control(type="text" ng-model="main.income.name")
            .form-group
              label.control-label Amount
              input.form-control(type="text" ng-model="main.income.amount")
            .form-group
              label.control-label Date
              input.form-control(type="date" ng-model="main.income.date")
            .form-group
              label.control-label Notes
              input.form-control(type="text" ng-model="main.income.notes")
            button(class="btn btn-primary" type="submit") Add
        .col-md-4.add-new-expense
          h3 Add Expense
          form(name="newExpenseForm" ng-submit="main.saveExpense()")
            .form-group
              label.control-label Name
              input.form-control(type="text" ng-model="main.expense.name")
            .form-group
              label.control-label Amount
              input.form-control(type="text" ng-model="main.expense.amount")
            .form-group
              label.control-label Date
              input.form-control(type="date" ng-model="main.expense.date")
            .form-group
              label.control-label Notes
              input.form-control(type="text" ng-model="main.expense.notes")
            button(class="btn btn-primary" type="submit") Add

    .col-md-4.right-side
      .income-total.sidebar-box
        h2 Income
        hr
        p {{income.total}}
      .expense-total.sidebar-box
        h2 Expenses
        hr
        p {{expense.total}}

  .container
      .income-list
        h3 Income List
      .individual-income-item.col-md-12.no-left-padding-column(ng-repeat="incomeItem in incomeList | orderBy:'date'")
        hr.income-list-hr
        h3.income-list-header.col-md-3 Project
          p.income-list-data {{incomeItem.name}}
        h3.income-list-header.col-md-2 Amount
          p.income-list-data {{incomeItem.amount}}
        h3.income-list-header.col-md-2 Date
          p.income-list-data {{incomeItem.date | date: "yyyy-MM-dd"}}
        h3.income-list-header.col-md-3 Notes
          p.income-list-data {{incomeItem.notes}}
        .button-section.col-md-2
          a.btn.btn-primary.edit-btn(ng-click="main.edit()") <i class="fa fa-pencil-square-o"></i>
          a.btn.btn-primary.delete-btn(ng-click="main.destroy()") <i class="fa fa-ban"></i>

      .expense-list
        h3 Expense List
      .individual-income-item.col-md-12.no-left-padding-column(ng-repeat="expenseItem in expenseList | orderBy:'date'")
        hr.income-list-hr
        h3.income-list-header.col-md-3 Project
          p.income-list-data {{expenseItem.name}}
        h3.income-list-header.col-md-2 Amount
          p.income-list-data {{expenseItem.amount}}
        h3.income-list-header.col-md-2 Date
          p.income-list-data {{expenseItem.date | date: "yyyy-MM-dd"}}
        h3.income-list-header.col-md-3 Notes
          p.income-list-data {{expenseItem.notes}}
        .button-section.col-md-2
          a.btn.btn-primary.edit-btn(ng-click="second.edit()") <i class="fa fa-pencil-square-o"></i>
          a.btn.btn-primary.delete-btn(ng-click="second.destroy()") <i class="fa fa-ban"></i>

