.income-item
  hr
  h3 Project Name
    h3 {{main.income.name}}
  p Amount
    p {{main.income.amount}}
  p Date
    p {{main.income.date}}
  p Notes
    p {{main.income.notes}}
  a.btn.btn-danger(ng-click="main.destroy()") Delete
