h1 Login

form(name="loginForm" ng-submit="auth.register(auth.secret.email, auth.secret.password)")
  .form-group
    label.control-label Email
    input.form-control(type="email", ng-model="auth.secret.email")
  .form-group
    label.control-label Password
    input.form-control(type="password", ng-model="auth.secret.password")
    button.btn.btn-default(ng-click="auth.register(auth.secret.email, auth.secret.password)") Register
    button.btn.btn-primary(ng-click="auth.login(auth.secret.email, auth.secret.password)") Login
