/** Header Styles **/
.navbar {
  background-color: #f0f0f0;
  border-bottom: 1px solid #dedede;
  width: 100%;
}

.header-nav-left {
  display: inline-block;
  float: left;
}

.header-nav-right {
  display: inline-block;
  float: right;
}

.header-logo {
  font-size: 24px;
  color: #1cbe68;
  margin-bottom: 18px;
  font-family: Roboto Slab;
}

/** Sidebar Styles **/
.sidebar-box {
  border: 1px solid #dedede;
  padding: 10px 20px 10px 20px;
  margin-bottom: 15px;
}

/** Global Styles **/
p {
  color: #606060;
}

.add-new-project, .add-new-expense {
  display: inline-block;
  border: 1px solid #dedede;
  margin: 0px 25px 15px 0px;
  padding: 0px 0px 15px 0px;
}

