/** Header Styles **/
.navbar {
  background-color: #f0f0f0;
  border-bottom: 1px solid #dedede;
  width: 100%;
}

.header-nav-left {
  display: inline-block;
  float: left;
}

.header-nav-right {
  display: inline-block;
  float: right;
}
